#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

/* User*/
.weather {
  width: 100vw;
  height: 100vh;
}

/* App*/

/*ADMIN*/
.fondo_login {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cuadrado_login {
  box-sizing: border-box;
  width: 30vw;
  height: 70vh;
  background-color: white;
  border-radius: 12px;
  margin: auto 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.texto {
  color: rgb(0, 0, 0)
}

.input_posicion {
  position: absolute;
  top: 45vh;
  left: 40vw;
}

.icono_login {
  position: absolute;
  top: 28vh;
  left: 46.5vw;
}

.button {
  width: 18vw;
  height: 7vh;
  margin-top: 0;
  background-color: #156DB5;
  border-radius: 10px;
  position: relative;
  top: 15vh;
  left: 0vw;
}

.titulo {
  font-family: "Rockwell", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 30px;
  position: relative;
  top: -17vh;
  left: 0vw;

}